<!DOCTYPE html>
<html lang="it-IT">
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<table>
			<thead>
				<tr>
					<th scope="col">N°</th>
					<th scope="col">Title</th>
					<th scope="col">Year</th>
					<th scope="col">Actors</th>
					<th scope="col">Genres</th>
				</tr>
			</thead>
			<tbody>
				<% var i = 0; %>
				<% for(var x = 0; x < films.length; x++) { %>
				<tr>
					<th scope="row"><%= ++i %></th>
					<td><%= films[x].title %></td>
					<td><%= films[x].year %></td>

					<td>
						<% for(var y = 0; y < films[x].cast.length; y++) { %>
						<p><%= films[x].cast[y] %></p>
						<% } %>
					</td>
					<td>
						<% for(var z = 0; z < films[x].genres.length; z++) { %>
						<p><%= films[x].genres[z] %></p>
						<% } %>
					</td>
				</tr>
				<% } %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<div class="posizione" id="visualize">
							<div class="animazione"></div>
							<a class="btn" href="../">
								Turn Back
							</a>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>